  .intro__wrap{ display: flex; justify-content: center;}
  .intro__card{
    width: 100%; max-width: 980px; aspect-ratio: 16/9;
    background-size: cover; background-position: center;
    border-radius: 15; position: relative; overflow: hidden;
    box-shadow: 12;
  }
  .intro__overlay{
    position:absolute; inset:0;
    background: linear-gradient(to bottom, rgba(255,255,255,.12), rgba(0,0,0,.35));
  }
  .intro__content{ position:absolute; inset:0; display:flex; flex-direction: column; justify-content: center; text-align: center; color:#000000;}
  .intro__title{ margin:0 0 25px; font-weight:900; font-size: clamp(42px, 6vw, 66px); }
  .intro__subtitle{ margin:10px 0 0 0; font-size: clamp(18px, 3vw, 33px); }